
@if (Request.IsAuthenticated)
{

  
        using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm" }))
        {
        @Html.AntiForgeryToken()
       
        }
 

     <a href="javascript:document.getElementById('logoutForm').submit()" style="color:#fff;">Log off</a>

}
else
{
    @Html.ActionLink("Log in", "Index", "Login", routeValues: null, htmlAttributes: new { @style = "color:#fff" })

}
