
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>


<h3>Your password has been reset successfully! Please login @Html.ActionLink("here","Index","Login")</h3>
